@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Gelen Guid değerleri</h1>
    <p>
        Singleton: @ViewBag.Singleton

    </p>
    <p>
        Transient: @ViewBag.Transient

    </p>
    <p>
        Scoped: @ViewBag.Scoped
    </p>

    <h1>Servis sınıfındaki değerler</h1>
     <p>
        Singleton: @ViewBag.ServiceSingleton

    </p>
    <p>
        Transient: @ViewBag.ServiceTransient

    </p>
    <p>
        Scoped: @ViewBag.ServiceScoped
    </p>
</div>
