@model CourseListViewModel
@{
    ViewData["Title"] = "Home Page";
}


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>@ViewBag.Title</h1>
        </div>
    </div>
    <div class="row">
        @foreach (var course in Model.Courses)
        {

            <div class="col-md-3" style="margin:10px;">
                <div class="card">
                    <img src="https://loremflickr.com/320/180" alt="@course.Name" />
                    <div class="card-body">
                        <h5 class="card-title">@course.Name</h5>
                        <p class="card-text">@course.Description</p>

                    </div>
                </div>

            </div>
        }
    </div>
   
   

   @* <ul class="pagination">
        @for (var i = 1; i <= Model.PagingInfo.TotalPages; i++)
        {
             <li class="page-item"><a class="page-link" asp-action="Index" asp-route-page="@i">@i</a></li>
        }  
     

    </ul>*@
    

    <div page-model="@Model.PagingInfo" page-action="Index" ></div>
</div>


